backend/src/schema/story.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="story">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="genre" type="xs:string"/>
        <xs:element name="nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="node" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element name="image" type="xs:string" minOccurs="0"/>
                    <xs:element name="choices" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="choice" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="target" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
